<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta name="google-site-verification" content="drnXEatJPgrhwIFAL7tpsvgFvLgY_bBO63Mz2RAi9T0">
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/14718740/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="5ae564579abe41db4c5fb4d7938d0f82">
<meta id="in-context-paypal-metadata" data-shop-id="14718740" data-venmo-supported="true" data-environment="production" data-locale="en_US" data-paypal-v4="true" data-currency="USD">
<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script id="apple-pay-shop-capabilities" type="application/json">{"shopId":14718740,"countryCode":"US","currencyCode":"USD","merchantCapabilities":["supports3DS"],"merchantId":"gid:\/\/shopify\/Shop\/14718740","merchantName":"Rinfit - Silicone Wedding Rings","requiredBillingContactFields":["postalAddress","email"],"requiredShippingContactFields":["postalAddress","email"],"shippingType":"shipping","supportedNetworks":["visa","masterCard","amex","discover","elo"],"total":{"type":"pending","label":"Rinfit - Silicone Wedding Rings","amount":"1.00"}}</script>
<script id="shopify-features" type="application/json">{"accessToken":"5ae564579abe41db4c5fb4d7938d0f82","betas":["rich-media-storefront-analytics"],"domain":"www.rinfit.com","predictiveSearch":true,"shopId":14718740,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "rinfit.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"USD","rate":"1.0"};
Shopify.theme = {"name":"Shella theme 3.3.1 (Alex + Custom)","id":78674591786,"theme_store_id":null,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>window.ShopifyPay = window.ShopifyPay || {};
window.ShopifyPay.apiHost = "pay.shopify.com";</script>
<script id="__st">var __st={"a":14718740,"offset":7200,"reqid":"c4ef8f73-d3c0-4102-bd13-293f922a2bac","pageurl":"www.rinfit.com\/","u":"3735e8fb8fd7","p":"home"};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script src="https://manychat.com/static/js/shopify.js?account_id=834139949981234\u0026shop=rinfit.myshopify.com"></script>
<script src="//productreviews.shopifycdn.com/assets/v4/spr.js?shop=rinfit.myshopify.com"></script>
<script src="https://intg.snapchat.com/shopify/shopify-scevent.js?id=150f3260-d1d6-4f25-bf1c-ec36b2f9df9c\u0026shop=rinfit.myshopify.com"></script>
<script src="https://assets1.adroll.com/shopify/latest/j/shopify_rolling_bootstrap_v2.js?adroll_adv_id=RO2QD77HNVC23MDKLJATPC\u0026adroll_pix_id=DV6PVRW3KBEAPDIQV3QH7Y\u0026shop=rinfit.myshopify.com"></script>

<script integrity="sha256-JP8SIsmqE7shdlPA0+ooxAp5aigObaKa1CHuwqYHXIY=" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-24ff1222c9aa13bb217653c0d3ea28c40a796a280e6da29ad421eec2a6075c86.js" crossorigin="anonymous"></script>
<script crossorigin="anonymous" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/shopify_pay/storefront-21b5dddfc8b64c1ad68cee3ba7448d1ffa15c24e969ebc1fbccf1a3784b659ad.js?v=20190107"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>


<style id="shopify-dynamic-checkout-cart">@media screen and (min-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  #dynamic-checkout-cart {
    min-height: 180px;
  }
}
</style><script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
