<!--
Elevar Data Layer V2

This file is automatically updated and should not be edited directly.

https://knowledge.getelevar.com/how-to-customize-data-layer-version-2

Updated: 2021-02-09 04:57:33+00:00
-->
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":
  new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src=
  "https://www.googletagmanager.com/gtm.js?id="+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,"script","dataLayer","GTM-T4RQFM2");
</script>
<!-- End Google Tag Manager -->
<script>
window.dataLayer = window.dataLayer || [];
</script>
<script id="elevar-gtm-suite-config" type="application/json">{"gtm_id": "GTM-T4RQFM2", "event_config": {"cart_reconcile": true, "cart_view": true, "checkout_complete": true, "checkout_step": true, "collection_view": true, "product_add_to_cart": true, "product_remove_from_cart": true, "product_select": true, "product_view": true, "search_results_view": true, "user": true}, "gtm_suite_script": "https://shopify-gtm-suite.getelevar.com/shops/2f5ee67dcde1aed97804939597c1cff5686b420a/gtm-suite.js"}</script>
