<script>
  (function() {
    const configElement = document.getElementById("elevar-gtm-suite-config");

    if (!configElement) {
      console.error("Elevar GTM Suite: Configuration element not found");
      return;
    }

    const config = JSON.parse(configElement.textContent);

    const script = document.createElement("script");
    script.type = "text/javascript";
    script.src = config.gtm_suite_script;

    script.onerror = function() {
      console.error("Elevar GTM Suite: The JS API script failed to load");
    };
    script.onload = function() {
      if (!window.ElevarGtmSuite) {
        console.error("Elevar GTM Suite: `ElevarGtmSuite` isn't defined");
        return;
      }

      if (config.event_config.user) {
        window.ElevarGtmSuite.handlers.user({
  {%- if checkout -%}
    cartTotal: "{{- checkout.total_price | times: 0.01 | json -}}",
  {%- else -%}
    cartTotal: "{{- cart.total_price | times: 0.01 | json -}}",
  {%- endif -%}
  {%- if customer -%}
    customer: {
      id: "{{- customer.id | json -}}",
      email: {{- customer.email | json -}},
      orderCount: "{{- customer.orders_count | json -}}",
      totalSpent: "{{- customer.total_spent | times: 0.01 | json -}}",
      tags: {{- customer.tags | join: ', ' | json -}}
    }
  {%- endif -%}
});
      }

      {%- if checkout -%}
        if (config.event_config.checkout_complete && Shopify.Checkout && Shopify.Checkout.page === "thank_you") {
          window.ElevarGtmSuite.handlers.checkoutComplete({%- if checkout -%}
  {
    currencyCode: {{- checkout.currency | json -}},
    actionField: {
      id: {{- checkout.id | json -}},
      affiliation: {{- shop.name | json -}},
      revenue: "{{- checkout.total_price | times: 0.01 | json -}}",
      tax: "{{- checkout.tax_price | times: 0.01 | json -}}",
      shipping: "{{- checkout.shipping_price | times: 0.01 | json -}}",
      {% if checkout.discount_applications %}
        coupon: {{ checkout.discount_applications[0].title | json }},
      {% endif %}
      subTotal: "{{- checkout.line_items_subtotal_price | times: 0.01 | json -}}",
      discountAmount: "{{- checkout.discounts_amount | times: 0.01 | json -}}"
    },
    {%- if checkout.customer -%}
      customer: {
        id: "{{- checkout.customer.id | json -}}",
        email: {{- checkout.email | json -}},
        firstName: {{- checkout.billing_address.first_name | json -}},
        lastName: {{- checkout.billing_address.last_name | json -}},
        phone: {{- checkout.customer.phone | json -}},
        city: {{- checkout.billing_address.city | json -}},
        zip: {{- checkout.billing_address.zip | json -}},
        address1: {{- checkout.billing_address.address1 | json -}},
        address2: {{- checkout.billing_address.address2 | json -}},
        country: {{- checkout.billing_address.country | json -}},
        province: {{- checkout.billing_address.province | json -}},
        provinceCode: {{- checkout.billing_address.province_code | json -}},
        orderCount: "{{- checkout.customer.orders_count | json -}}",
        totalSpent: "{{- checkout.customer.total_spent | times: 0.01 | json -}}",
        tags: {{- checkout.customer.tags | json -}}
      },
    {%- endif -%}
    items: [
      {%- for line_item in checkout.line_items -%}
        {
          id: {{- line_item.sku | json -}},
          name: {{- line_item.product.title | json -}},
          brand: {{- line_item.vendor | json -}},
          category: {{- line_item.product.type | json -}},
          variant: {{- line_item.variant.title | json -}},
          price: "{{- line_item.final_price | times: 0.01 | json -}}",
          quantity: "{{- line_item.quantity | json -}}",
          productId: "{{- line_item.product_id | json -}}",
          variantId: "{{- line_item.variant_id -}}",
          image: "{{- line_item.image -}}"
        },
      {%- endfor -%}
    ]
  }
{%- endif -%}
);
        }
        if (Shopify.Checkout && Shopify.Checkout.page !== "thank_you") {
          const checkoutStep = {%- if checkout -%}
  {
    currencyCode: {{- checkout.currency | json -}},
    items: [
      {%- for line_item in checkout.line_items -%}
        {
          id: {{- line_item.sku | json -}},
          name: {{- line_item.product.title | json -}},
          brand: {{- line_item.vendor | json -}},
          category: {{- line_item.product.type | json -}},
          variant: {{- line_item.variant.title | json -}},
          price: "{{- line_item.final_price | times: 0.01 | json -}}",
          quantity: "{{- line_item.quantity | json -}}",
          productId: "{{- line_item.product_id | json -}}",
          variantId: "{{- line_item.variant_id -}}",
          compareAtPrice: "{{- line_item.variant.compare_at_price | times: 0.01 | json -}}",
          image: "{{- line_item.image -}}"
        },
      {%- endfor -%}
    ]
  }
{%- endif -%}
;

          if (config.event_config.cart_reconcile) {
            window.ElevarGtmSuite.handlers.cartReconcile(checkoutStep);
          }
          if (config.event_config.checkout_step) {
            window.ElevarGtmSuite.handlers.checkoutStep(checkoutStep);
          }
        }
      {%- endif -%}
    };

    document.body.appendChild(script);
  })();
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4RQFM2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->