<div class="menu__dropdown d-lg-none position-lg-absolute">
    <div class="menu__list menu__list--styled menu__level-02 menu__level-02 p-lg-20">
        <div class="menu__item menu__back d-lg-none"><a href="{{ link.url }}">{{ link.title }}</a></div>
        {%- for sub_link in link.links -%}
            {% include 'header-res-menu-labels' with link: link sub_link: sub_link %}
            <div class="menu__item{% if sub_link.levels > 0 %} menu__item--has-children position-lg-relative{% endif %}">
                <a href="{{ sub_link.url }}" class="d-flex align-items-center px-lg-5"><span>{{ sub_link.title }}</span>{{ labels }}{% if sub_link.levels > 0 %} <i class="ml-auto">{% include 'icon-theme-231' %}</i>{% endif %}{% include 'header-get-menu-preview-image' with link: link sub_link: sub_link sub_sub_link: 'empty_lvl' %}</a>
                {%- if sub_link.levels > 0 -%}
                    <div class="menu__list menu__level-03 position-lg-absolute p-lg-15">
                        <div class="menu__item menu__back d-lg-none"><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></div>
                        {%- for sub_sub_link in sub_link.links -%}
                            {% include 'header-res-menu-labels' with link: link sub_link: sub_link sub_sub_link: sub_sub_link %}
                            <div class="menu__item"><a href="{{ sub_sub_link.url }}" class="d-flex align-items-center px-lg-5"><span>{{ sub_sub_link.title }}</span>{{ labels }}{% include 'header-get-menu-preview-image' with link: link sub_link: sub_link sub_sub_link: sub_sub_link %}</a></div>
                        {%- endfor -%}
                    </div>
                {%- endif -%}
            </div>
        {%- endfor -%}
    </div>
</div>