<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 -3.05176e-05C4.48 -3.05176e-05 0 4.47997 0 9.99997C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 9.99997C20 4.47997 15.52 -3.05176e-05 10 -3.05176e-05ZM10 2.99997C11.66 2.99997 13 4.33997 13 5.99997C13 7.65997 11.66 8.99997 10 8.99997C8.34 8.99997 7 7.65997 7 5.99997C7 4.33997 8.34 2.99997 10 2.99997ZM4 13.9799C5.29 15.9199 7.5 17.1999 10 17.1999C12.5 17.1999 14.71 15.9199 16 13.9799C15.97 11.9899 11.99 10.8999 10 10.8999C8 10.8999 4.03 11.9899 4 13.9799Z" fill="black"></path>
  </svg>