
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 20 12" style="enable-background:new 0 0 20 12;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
</style>
<path d="M13.4,10.2c-0.4,0.4-0.4,1.1,0.1,1.5c0.4,0.4,1.1,0.4,1.5-0.1l4.5-4.9c0.4-0.4,0.4-1.1,0-1.5L15,0.4
	c-0.4-0.4-1.1-0.5-1.5-0.1c-0.4,0.4-0.5,1.1-0.1,1.5L17.2,6L13.4,10.2z"/>
<line class="st0" x1="17.2" y1="6" x2="0" y2="6"/>
</svg>
