
<svg height="28" viewBox="0 0 128 128" width="28" xmlns="http://www.w3.org/2000/svg"><g><circle cx="64" cy="64" fill="#f2a1b2" r="45"/><path d="m44.069 83.931a4 4 0 0 0 5.657 0l14.274-14.274 14.274 14.274a4 4 0 1 0 5.657-5.658l-14.274-14.273 14.274-14.273a4 4 0 0 0 -5.657-5.658l-14.274 14.274-14.274-14.274a4 4 0 1 0 -5.657 5.658l14.274 14.273-14.274 14.273a4 4 0 0 0 0 5.658z" fill="#fff"/></g></svg>