<script>
    function resizeForm(){
        var width = (window.innerWidth > 0) ? window.innerWidth : document.documentElement.clientWidth;
        if(width > 1024){
         /* start loading script for desktop */
		 		const Personalizer = (callback) => {
				const existingScript = document.getElementById('Personalizer');

				if (!existingScript) {
					const script = document.createElement('script');
					script.src = 'https://edge.personalizer.io/storefront/2.0.0/js/shopify/storefront.min.js?key=qwvsg-jpc8u5oam3yei6icg8wfy-c7ikp&shop=rinfit.myshopify.com';
					script.id = 'Personalizer';
					document.body.appendChild(script);

					script.onload = () => {
					if (callback) callback();
					};
					console.log('script loaded for desktop limespot');
				}

				if (existingScript && callback) callback();
				};
		 /* end loading script for desktop */
        } else {
			console.log('noscript loaded for mobile limespot');
        }    
    }
   /* window.onresize = resizeForm; */
    resizeForm();

</script>


{% comment %}
<script type="text/javascript" async src="https://edge.personalizer.io/storefront/2.0.0/js/shopify/storefront.min.js?key=qwvsg-jpc8u5oam3yei6icg8wfy-c7ikp&shop=rinfit.myshopify.com"></script>
{% endcomment %}
<script>
window.LimeSpot = window.LimeSpot === undefined ? {} : LimeSpot;{% assign t = template | prepend: '/' | append: '.' %}
{% if t contains '/product.' %}LimeSpot.PageInfo = { Type: "Product", ReferenceIdentifier: "{{ product.id }}"};
{% elsif t contains '/collection.' %}LimeSpot.PageInfo = { Type: "Collection", ReferenceIdentifier: "{{ collection.id }}", Personalized: {%if collection.metafields.LimeSpot['Personalized'] == "true"%}true{%else%}false{%endif%} };
{% elsif t contains '/index.' %}LimeSpot.PageInfo = { Type: "Home", ReferenceIdentifier: null };
{% elsif t contains '/cart.' %}LimeSpot.PageInfo = { Type: "Cart", ReferenceIdentifier: null };
{% elsif t contains '/search.' %}LimeSpot.PageInfo = { Type: "Search", ReferenceIdentifier: null };
{% elsif t contains '/404.' %}LimeSpot.PageInfo = { Type: "Four04", ReferenceIdentifier: null };
{% endif %}{% if customer %}LimeSpot.UserInfo = { Identifier: "{{ customer.id }}", Email: "{{ customer.email }}", CellPhone: "{{ customer.phone }}", FirstName: "{{ customer.first_name }}", LastName: "{{ customer.last_name }}" };
{% endif %}
LimeSpot.StoreInfo = { Theme: "{{ theme.name | escape }}" };
{% assign cart_product_ids = "" %}
{% for item in cart.items %}
	{% assign cart_product_ids = cart_product_ids | append: ',' | append: item.product.id %}
{% endfor %}
LimeSpot.CartItems = [{{ cart_product_ids | remove_first: "," }}];
</script>

{% comment %}Checksum: 15bdaf21779a3e3b8f48d1231c3f1a21{% endcomment %}