<div class="popup-navigation js-popup-navigation" data-popup-content>
    <div class="popup-navigation__head pt-20 pb-10 px-10 d-lg-none">
        <div class="container">
            <div class="popup-navigation__button d-flex align-items-center" data-js-popup-navigation-button="close">
                <i class="popup-navigation__close cursor-pointer" data-js-popup-close data-button-content="close">{% include 'icon-theme-164' %}</i>
                <i class="popup-navigation__back cursor-pointer d-lg-none" data-button-content="back">{% include 'icon-theme-012' %}</i>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="popup-navigation__search search pt-lg-25 pb-lg-35 px-10 px-lg-0{% if section.settings.search_ajax %} js-popup-search-ajax{% endif %}" data-js-max-products="6">
        <div class="container">
            <div class="d-none d-lg-flex align-items-lg-center mb-5 mb-lg-10">
                <p class="m-0">{{ 'general.search.title' | t }}</p>
                <i class="search__close ml-auto cursor-pointer" data-js-popup-close>{% include 'icon-theme-164' %}</i>
            </div>
            <form class="position-relative d-flex align-items-center pb-5 pb-lg-15 mb-0 border-bottom" action="/search" method="get" role="search">
                <input type="search" class="border-0 p-0 mb-0" name="q" id="Search" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
                <label class="position-absolute right-0 mb-0 mr-0 m-lg-0 cursor-pointer" for="Search"><i>{% include 'icon-theme-168' %}</i></label>
            </form>
            <div class="search__content">
                <div class="search__result row pt-10 pt-lg-0 mt-20 mt-lg-30 d-none-important"></div>
                <div class="search__view-all pb-20 pb-lg-0 mt-20 mt-lg-10 d-none-important">
                    <a href="/search?q={{ search.terms | escape }}" class="btn-link">{{ 'general.popups.search.view_all_products' | t }}</a>
                </div>
            </div>
            <p class="search__empty pb-20 pb-lg-0 mt-20 mt-lg-30 mb-0 d-none-important">{{ 'general.popups.search.empty' | t }}</p>
        </div>
    </div>
    {% endcomment %}
    <div class="popup-navigation__menu d-lg-none px-10" data-js-menu-mobile>
        <div class="container" data-js-position-mobile="vertical-menu"></div>
    </div>
    <div class="popup-navigation__menu d-lg-none py-25 px-10" data-js-menu-mobile>
        <div class="container" data-js-position-mobile="menu"></div>
    </div>
    <div class="popup-navigation__currency d-lg-none px-10" data-js-position-mobile="currencies"></div>
    <div class="popup-navigation__currency d-lg-none px-10" data-js-position-mobile="languages"></div>
</div>