{%- unless product.has_only_default_variant -%}
    {%- assign options_type_circle_color = settings.product_options_type_circle_color | escape | downcase | split: '|' -%}
    {%- assign options_type_circle_image = settings.product_options_type_circle_image | escape | downcase | split: '|' -%}
    {%- assign options_type_square_image = settings.product_options_type_square_image | escape | downcase | split: '|' -%}
    {%- assign options_type_square_color = settings.product_options_type_square_color | escape | downcase | split: '|' -%}
    {%- assign options_type_select = settings.product_options_type_select | escape | downcase | split: '|' -%}
    {%- assign options_type_large_text = settings.product_options_type_large_text | escape | downcase | split: '|' -%}
    {%- assign auto_selected_options = settings.product_auto_selected_options | escape | downcase | split: '|' -%}
    {%- assign options_show_title = options_show_title | default: false -%}
    {%- assign options_type = options_type | default: 1 -%}
    {% capture options_type_class %}
        {%- case options_type -%}
        {%- when 1 %}product-options--type-collection
        {%- when 2 %}product-options--type-page
        {%- when 3 %}product-options--type-footbar
{%- endcase -%}
    {% endcapture %}
<div class="product-options {{ options_type_class }}{% if centered %} product-options--centered{% endif %}{% if mobile_centered %} product-options--mobile-centered{% endif %}{% unless trigger %} js-product-options{% endunless %}" data-js-product-options{% if options_type == 1 and settings.product_variant_change_on_hover %} data-js-options-onhover{% endif %}{% if change_history %} data-js-change-history{% endif %}>
    {%- assign options_limit = 3 -%}
    {%- if options_type == 1 and settings.product_options_listing_visibility != 'all' -%}
        {%- assign options_limit = settings.product_options_listing_visibility | abs -%}
        {%- assign enable_select_options_button = false -%}
        {%- assign options_with_values_size = product.options_with_values | size -%}
        {%- if options_with_values_size > options_limit -%}
            {%- assign enable_select_options_button = true -%}
        {%- endif -%}
    {%- endif -%}
    {%- for option in product.options_with_values -%}
        {%- assign option_index0 = forloop.index0 -%}
        <div class="{% if forloop.index > options_limit %}d-none {% endif %}{%if option.name == "Size" and template != "product" %}popup-size{% elsif option.name == "Size" %}popup-size-product{% endif %}">
            <label class="d-none">{{ option.name }}:</label>
            {%- assign clear_name = option.name | escape | downcase -%}
            {%- if product.selected_variant.id == blank and settings.product_variant_auto_select != 'enable' -%}
                {%- assign disable_auto_select = false -%}
                {%- if settings.product_variant_auto_select == 'disable' -%}
                    {%- assign disable_auto_select = true -%}
                    {%- elsif settings.product_variant_auto_select == 'first' and forloop.index != 1 -%}
                    {%- assign disable_auto_select = true -%}
                    {%- elsif settings.product_variant_auto_select == 'first_n_second' and forloop.index != 1 and forloop.index != 2 -%}
                    {%- assign disable_auto_select = true -%}
                {%- endif -%}
                {%- if auto_selected_options contains clear_name -%}
                    {%- assign disable_auto_select = false -%}
                {%- endif -%}
            {%- endif -%}
            {%- if disable_auto_select -%}
                {%- assign enable_select_variant_button = true -%}
            {%- endif -%}
            {%- if options_type_circle_color contains clear_name -%}
                <div class="product-options__section d-flex flex-wrap px-2" data-style="color" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %} {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        <div class="product-options__value product-options__value--circle standard-color-{{ value | handleize }} rounded-circle text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                             data-value="{{ value }}"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="{{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_circle_image contains clear_name -%}
                <div class="product-options__section d-flex flex-wrap px-2" data-style="circle-image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %} {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% include 'product-get-options-res-image' %}
                        <div class="product-options__value product-options__value--circle rounded-circle text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                                {%- if settings.product_format_pjpg -%}
                                    data-master="url({{ option_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '48x', format: 'pjpg' }})"
                                {%- else -%}
                                    data-master="url({{ option_image | img_url: '1x1' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '48x' }})"
                                {%- endif -%}
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="{{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_square_color contains clear_name -%}
                <div class="product-options__section flex-wrap {% if template == "collection.sorting" or template == "index" %}d-none{% else %}d-flex{% endif %}" data-style="image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %} {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        <div class="product-options__value product-options__value--square standard-color-{{ value | handleize }} text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="{{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_square_image contains clear_name -%}
                <div class="product-options__section flex-wrap {% if template == "collection.sorting" or template == "index" %}d-none{% else %}d-flex{% endif %}" data-style="image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %} {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% include 'product-get-options-res-image' %}
                        <div class="product-options__value product-options__value--square text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                                {%- if settings.product_format_pjpg -%}
                                    data-master="url({{ option_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '92x', format: 'pjpg' }})"
                                {%- else -%}
                                    data-master="url({{ option_image | img_url: '1x1' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '92x' }})"
                                {%- endif -%}
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="{{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value }}</div>
                    {%- endfor -%}                   
                </div>             
                {%- elsif options_type_select contains clear_name -%}
                <div class="select position-relative js-dropdown js-select {% if template == "collection.sorting" or template == "index" %}d-none{% else %}d-flex{% endif %}" {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    {%- assign select_dropdown_html = '' -%}
                    <div data-js-dropdown-button>
                        <select class="product-options__section" data-style="select" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}" data-js-option-select{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                            {%- for value in option.values -%}
                                {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                                <option{% if active_value %} selected="selected"{% endif %} data-value="{% render 'product-get-options-strip-symbols' with value: value %}" value="{% render 'product-get-options-strip-symbols' with value: value %}"{% if disabled_value %} disabled="disabled"{% endif %}>{{ value }}</option>
                                {% capture select_dropdown_html %}
                                {{ select_dropdown_html }}
                                <span{% if active_value %} class="selected"{% endif %} data-value="{% render 'product-get-options-strip-symbols' with value: value %}"{% if disabled_value %} disabled="disabled"{% endif %} {{ trigger_attr }}>{{ value }}</span>
                                {% endcapture %}
                            {%- endfor -%}
                        </select>
                        <i class="position-absolute right-0 mr-10">{% render 'icon-theme-229' %}</i>
                    </div>
                    <div class="select__dropdown dropdown d-none position-lg-absolute {% if select_dropdown_position == 'top' %}bottom{% else %}top{% endif %}-lg-100 left-lg-0" data-js-dropdown data-js-select-dropdown{% if disable_auto_select %} data-dropdown-unselected{% endif %}>
                        <div class="px-15 pb-30 py-lg-15">
                            {{ select_dropdown_html }}
                        </div>
                    </div>
                </div>
            {%- else -%}
                <div class="product-options__section flex-wrap {% if template == "collection.sorting" or template == "index" %}d-none{% else %}d-flex{% endif %}" data-style="text" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %} {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        <div class="product-options__value product-options__value--text d-flex flex-center border cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                        >{{ value }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_large_text contains clear_name -%}
                <div class="product-options__section flex-wrap {% if option.name == "Size" and template != "product" %}popup-size-calc size-selection-overlay{% else %}popup-size-calc-product{% endif %} {% if template == "collection.sorting" or template == "index" %}d-none{% else %}d-flex{% endif %}" data-style="large-text" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %} {% if option.name == "Size" %} id="popup-size-{{ product.id }}" {% endif %}>
                    <div class="close-overlay" tabindex="0" data-id="{{ product.id }}"></div>
                        <div class="guide-container">
                        <span class="size-label">{{ 'products.product.select_size' | t }}</span>
                        <a class="guide-link" target="_blank" href="/pages/ring-size-guide" title="Size guide" tabindex="0">
                        <span>{{ 'products.product.need_sizing_help' | t }}</span>
                        </a>
                        </div>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        <div class="product-options__value product-options__value--large-text d-flex flex-center border cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                             data-js-option-value
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                             data-id="{{ product.id }}"
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}
                    <button type="submit" class="btn btn--full btn--status js-product-button-add-to-cart" name="add" data-js-trigger-id="add-to-cart" data-js-button-add-to-cart-clone-id="footbar" data-js-product-button-add-to-cart style>
                        <span class="d-flex flex-center"><span class="btn__text">{{ 'products.product.add_to_cart.title' | t }}</span></span>
                        <span class="d-flex flex-center" data-button-content="added">{{ 'products.product.add_to_cart.added' | t }}<i class="mr-5 mb-4"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-110" viewBox="0 0 24 24"><path d="M19.855 5.998a.601.601 0 0 0-.439-.186h-3.75c0-1.028-.368-1.911-1.104-2.646-.735-.735-1.618-1.104-2.646-1.104s-1.911.369-2.646 1.104c-.736.736-1.104 1.618-1.104 2.647h-3.75a.6.6 0 0 0-.439.186.598.598 0 0 0-.186.439v15a.6.6 0 0 0 .186.439c.124.123.27.186.439.186h15a.6.6 0 0 0 .439-.186.601.601 0 0 0 .186-.439v-15a.602.602 0 0 0-.186-.44zm-9.707-1.953c.488-.488 1.077-.732 1.768-.732s1.279.244 1.768.732.732 1.078.732 1.768h-5c0-.69.244-1.28.732-1.768zm6.926 7.194l-6.25 6.25a.877.877 0 0 1-.215.127.596.596 0 0 1-.468 0 .896.896 0 0 1-.215-.127l-2.5-2.5a.652.652 0 0 1-.176-.449c0-.169.059-.319.176-.449.13-.117.28-.176.449-.176s.319.059.449.176l2.051 2.07 5.801-5.82c.13-.117.28-.176.449-.176s.319.059.449.176c.117.13.176.28.176.449a.652.652 0 0 1-.176.449z"></path></svg></i>Added</span>
                        <span class="d-flex flex-center" data-button-content="sold-out">{{ 'products.product.add_to_cart.sold_out' | t }}</span>
                        </button>
                </div>
            {%- endif -%}
        </div>
    {%- endfor -%}
</div>
{%- endunless -%}
{%- assign change_history = false -%}
{%- assign trigger = null -%}
{%- assign trigger_id = null -%}