<script>
var page_selected_color = "", page_selected_size = "", page_selected_size1 = "", page_selected_size2 = "";
</script>
{%- unless product.has_only_default_variant -%}
    {%- assign product_option_enable_tooltips = true -%}
    {%- assign options_type_circle_color = settings.product_options_type_circle_color | escape | downcase | split: '|' -%}
    {%- assign options_type_circle_image = settings.product_options_type_circle_image | escape | downcase | split: '|' -%}
    {%- assign options_type_square_image = settings.product_options_type_square_image | escape | downcase | split: '|' -%}
    {%- assign options_type_square_color = settings.product_options_type_square_color | escape | downcase | split: '|' -%}
    {%- assign options_type_select = settings.product_options_type_select | escape | downcase | split: '|' -%}
    {%- assign options_type_large_text = settings.product_options_type_large_text | escape | downcase | split: '|' -%}
    {%- assign auto_selected_options = settings.product_auto_selected_options | escape | downcase | split: '|' -%}
    {%- assign options_show_title = options_show_title | default: false -%}
    {%- assign options_type = options_type | default: 1 -%}
    {% capture options_type_class %}
        {%- case options_type -%}
        {%- when 1 %}product-options--type-collection
        {%- when 2 %}product-options--type-page
        {%- when 3 %}product-options--type-footbar
{%- endcase -%}
    {% endcapture %}
    {% assign product_option_enable_tooltips = true %}
<div class="product-options {{ options_type_class }}{% if centered %} product-options--centered{% endif %}{% if mobile_centered %} product-options--mobile-centered{% endif %}{% unless trigger %} js-product-options{% endunless %}" data-js-product-options{% if options_type == 1 and settings.product_variant_change_on_hover %} data-js-options-onhover{% endif %}{% if change_history %} data-js-change-history{% endif %}>
    {%- assign options_limit = 3 -%}
    {%- if options_type == 1 and settings.product_options_listing_visibility != 'all' -%}
        {%- assign options_limit = settings.product_options_listing_visibility | abs -%}
        {%- assign enable_select_options_button = false -%}
        {%- assign options_with_values_size = product.options_with_values | size -%}
        {%- if options_with_values_size > options_limit -%}
            {%- assign enable_select_options_button = false -%}
        {%- endif -%}
    {%- endif -%}
    {%- for option in product.options_with_values -%}
        {%- assign option_index0 = forloop.index0 -%}
        {% assign option_name_down = option.name | downcase %}
                        <!-- {{ option_name_down }} -->
        <div class="{%if option_name_down contains "size" %}sizedropdown popup-size-product{% endif %}">
            {%if option_name_down contains "color" %}<label id="product-color-label-{{ current_variant_id }}">{{ option.name }}</label>{% endif %}
            {%- assign clear_name = option.name | escape | downcase -%}
            {%- if product.selected_variant.id == blank and settings.product_variant_auto_select != 'enable' -%}
                {%- assign disable_auto_select = false -%}
                {%- if settings.product_variant_auto_select == 'disable' -%}
                    {%- assign disable_auto_select = true -%}
                    {%- elsif settings.product_variant_auto_select == 'first' and forloop.index != 1 -%}
                    {%- assign disable_auto_select = true -%}
                    {%- elsif settings.product_variant_auto_select == 'first_n_second' and forloop.index != 1 and forloop.index != 2 -%}
                    {%- assign disable_auto_select = true -%}
                {%- endif -%}
                {%- if auto_selected_options contains clear_name -%}
                    {%- assign disable_auto_select = false -%}
                {%- endif -%}
            {%- endif -%}
            {%- if disable_auto_select -%}
                {%- assign enable_select_variant_button = true -%}
            {%- endif -%}
            {%- if options_type_circle_color contains clear_name -%}
                {% if option_name_down contains "select men's size" %}
                <div class="product-option-color-selected" style="background-image: url(&quot;{{ product.featured_image | img_url: '48x' }}&quot;);"></div>
                {% endif %}
                <div class="guide-container-product">
                    <label {%if option_name_down contains "size" %}id="product-size-label-{%if option_name_down contains "women" %}women-{% endif %}{{ current_variant_id }}" data-label="{{ option.name }}"{% endif %}>{{ option.name }}</label>
                    <div class="guide-link btn-link h6 mb-5 px-15 px-lg-10 js-popup-button" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</div>
                </div>
                {%if option_name_down contains "men's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Men</label>
                </div>
                {% endif %}
                {%if option_name_down contains "women's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%} 
                >Women</label>
                </div>
                {% endif %}             
                <div class="product-options__section d-flex flex-wrap px-2 {% if option_name_down contains "size" %}product-size-calc page-size-selection-overlay{% endif %}" data-style="color" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% if forloop.first and option_name_down contains "color" %}
                        {% assign default_color = value %}
                        {% endif %}
                        <div data-id="{{ current_variant_id }}" class="product-options__value product-options__value--circle {% if option_name_down contains "color" %}product-options__value--circle--{{ current_variant_id }}{% endif %} standard-color-{{ value | handleize }} rounded-circle text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                        {% unless option_name_down contains "men's size" %}data-js-option-value{% endunless %}
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="Click {{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_circle_image contains clear_name -%}
                <div class="product-options__section d-flex flex-wrap px-2 {% if option_name_down contains "size" %}product-size-calc page-size-selection-overlay{% endif %}" data-style="circle-image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                    {%- for value in option.values -%}                  
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% include 'product-get-options-res-image' %}
                        {% if forloop.first and option_name_down contains "color" %}
                        {% assign default_color = value %}
                        {% endif %}                        
                        <div data-id="{% if option_name_down contains "women" %}{{ "women-" | append:  current_variant_id }}{% else %}{{ current_variant_id }}{% endif %}" class="product-options__value product-options__value--circle--product-page {% if option_name_down contains "color" %}product-options__value--circle--{{ current_variant_id }}{% endif %} rounded-circle text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value and option_name_down contains "color" %} active{% endif %} lazyload"
                        {% unless option_name_down contains "men's size" %}data-js-option-value{% endunless %}
                            data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                                {%- if settings.product_format_pjpg -%}
                                    data-master="url({{ option_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '48x', format: 'pjpg' }})"
                                {%- else -%}
                                    data-master="url({{ option_image | img_url: '1x1' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '48x' }})"
                                {%- endif -%}
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="Click {{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_square_color contains clear_name -%}
                {% if option_name_down contains "select men's size" %}
                <div class="product-option-color-selected" style="background-image: url(&quot;{{ product.featured_image | img_url: '48x' }}&quot;);"></div>
                {% endif %}
                <div class="guide-container-product">
                    <label {%if option_name_down contains "size" %}id="product-size-label-{%if option_name_down contains "women" %}women-{% endif %}{{ current_variant_id }}" data-label="{{ option.name }}"{% endif %}>{{ option.name }}</label>
                    <div class="guide-link btn-link h6 mb-5 px-15 px-lg-10 js-popup-button" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</div>
                </div>
                {%if option_name_down contains "men's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Men</label>
                </div>
                {% endif %}
                {%if option_name_down contains "women's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%} 
                >Women</label>
                </div>
                {% endif %}             
                <div class="product-options__section flex-wrap {% if option_name_down contains "size" %}product-size-calc page-size-selection-overlay{% endif %}" data-style="image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% if forloop.first and option_name_down contains "color" %}
                        {% assign default_color = value %}
                        {% endif %}
                        <div data-id="{% if option_name_down contains "women" %}{{ "women-" | append:  current_variant_id }}{% else %}{{ current_variant_id }}{% endif %}" class="product-options__value product-options__value--square {% if option_name_down contains "color" %}product-options__value--circle--{{ current_variant_id }}{% endif %} standard-color-{{ value | handleize }} text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                        {% unless option_name_down contains "men's size" %}data-js-option-value{% endunless %}
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="Click {{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}
                </div>
                {%- elsif options_type_square_image contains clear_name -%}
                {% if option_name_down contains "select men's size" %}
                <div class="product-option-color-selected" style="background-image: url(&quot;{{ product.featured_image | img_url: '48x' }}&quot;);"></div>
                {% endif %}   
                <div class="guide-container-product">  
                    <label {%if option_name_down contains "size" %}id="product-size-label-{%if option_name_down contains "women" %}women-{% endif %}{{ current_variant_id }}" data-label="{{ option.name }}"{% endif %}>{{ option.name }}</label>
                    <div class="guide-link btn-link h6 mb-5 px-15 px-lg-10 js-popup-button" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</div>
                </div>
                {%if option_name_down contains "men's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Men</label>
                </div>
                {% endif %}
                {%if option_name_down contains "women" %}
                <div class="product-with-men-women-size">
                <label class="option-women-size"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%} 
                >Women</label>
                </div>
                {% endif %}    
                <div class="sizedropbtn for-mobile-only" data-id="{{ current_variant_id }}"><span id="sizedroplabel{% if option_name_down contains "women" %}women{% endif %}-{{ current_variant_id }}" style="pointer-events: none">Select Size</span><i style="pointer-events: none">{% include 'icon-theme-229' %}</i></div>         
                <div class="product-options__section flex-wrap {% if option_name_down contains "size" %}sizedropdown-content product-size-calc page-size-selection-overlay{% endif %}" data-style="image" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% include 'product-get-options-res-image' %}
                        {% if forloop.first and option_name_down contains "color" %}
                        {% assign default_color = value %}
                        {% endif %}
                        <div class="product-options__value product-options__value--square {% if option_name_down contains "color" %}product-options__value--circle--{{ current_variant_id }}{% endif %} text-hide cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value %} active{% endif %} lazyload"
                        {% unless option_name_down contains "men's size" %}data-js-option-value{% endunless %}
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                                {%- if settings.product_format_pjpg -%}
                                    data-master="url({{ option_image | img_url: '1x1', format: 'pjpg' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '92x', format: 'pjpg' }})"
                                {%- else -%}
                                    data-master="url({{ option_image | img_url: '1x1' | replace: '_1x1.', '_[width]x.' }})"
                                    data-bg="url({{ option_image | img_url: '92x' }})"
                                {%- endif -%}
                             data-scale="2"
                                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                                    data-js-tooltip
                                    data-tippy-content="Click {{ value }}"
                                    data-tippy-placement="top"
                                    data-tippy-distance="6"
                                {%- endif -%}
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}                           
                </div>
                {%- elsif options_type_large_text contains clear_name -%} 
                {% if option_name_down contains "select men's size" %}
                <div class="product-option-color-selected" style="background-image: url(&quot;{{ product.featured_image | img_url: '48x' }}&quot;);"></div>
                {% endif %} 
                <div class="guide-container-product">
                    <label {%if option_name_down contains "size" %}id="product-size-label-{%if option_name_down contains "women" %}women-{% endif %}{{ current_variant_id }}" data-label="{{ option.name }}"{% endif %}>{{ option.name }}</label>
                    <div class="guide-link btn-link h6 mb-5 px-15 px-lg-10 js-popup-button" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</div>
                </div>  
                {%if option_name_down contains "men's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Men</label>
                </div>
                {% endif %}
                {%if option_name_down contains "women's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%} 
                >Women</label>
                </div>
                {% endif %}             
                <div class="sizedropbtn for-mobile-only" data-id="{{ current_variant_id }}"><span id="sizedroplabel{% if option_name_down contains "women" %}women{% endif %}-{{ current_variant_id }}" data-id="{{ current_variant_id }}">Select Size</span><i >{% include 'icon-theme-229' %}</i></div>
                <div class="sizedropdown-content product-options__section flex-wrap" data-style="large-text" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% if forloop.first and option_name_down contains "color" %}
                        {% assign default_color = value %}
                        {% endif %}
                        <div data-id="{% if option_name_down contains "women" %}{{ "women-" | append:  current_variant_id }}{% else %}{{ current_variant_id }}{% endif %}" class="product-options__calc_value product-options__value product-options__value--large-text {% if option.name contains "Color" %}product-options__value--circle--{{ current_variant_id }}{% endif %} d-flex flex-center border cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value and option_name_down contains "color" %} active{% endif %} lazyload"
                        {% unless option_name_down contains "men's size" %}data-js-option-value{% endunless %}
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                             data-id="{{ current_variant_id }}"
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}                 
                </div>
                {%- elsif options_type_select contains clear_name -%}
                {% if option_name_down contains "select men's size" %}
                <div class="product-option-color-selected" style="background-image: url(&quot;{{ product.featured_image | img_url: '48x' }}&quot;);"></div>
                {% endif %} 
                <div class="guide-container-product">
                    <label {%if option_name_down contains "size" %}id="product-size-label-{%if option_name_down contains "women" %}women-{% endif %}{{ current_variant_id }}" data-label="{{ option.name }}"{% endif %}>{{ option.name }}</label>
                    <div class="guide-link btn-link h6 mb-5 px-15 px-lg-10 js-popup-button" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</div>
                </div>  
                {%if option_name_down contains "men's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Men</label>
                </div>
                {% endif %}
                {%if option_name_down contains "women's size" %}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%} 
                >Women</label>
                </div>
                {% endif %} 
                <div class="select position-relative js-dropdown js-select">
                    {%- assign select_dropdown_html = '' -%}
                    <div data-js-dropdown-button>
                        <select data-id="{{ current_variant_id }}" class="product-options__section select__dropdown_page" data-style="select" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}" data-js-option-select{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                            {%- for value in option.values -%}
                                {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                                <option {% if active_value %} selected="selected"{% endif %} data-value="{% render 'product-get-options-strip-symbols' with value: value %}" value="{% render 'product-get-options-strip-symbols' with value: value %}"{% if disabled_value %} disabled="disabled"{% endif %}>{{ value }}</option>
                                {% capture select_dropdown_html %}
                                {{ select_dropdown_html }}
                                <span{% if active_value %} class="selected"{% endif %} data-value="{% render 'product-get-options-strip-symbols' with value: value %}"{% if disabled_value %} disabled="disabled"{% endif %} {{ trigger_attr }}>{{ value }}</span>
                                {% endcapture %}
                            {%- endfor -%}
                        </select>
                    </div>
                    <div class="select__dropdown dropdown d-none position-lg-absolute {% if select_dropdown_position == 'top' %}bottom{% else %}top{% endif %}-lg-100 left-lg-0" data-js-dropdown data-js-select-dropdown{% if disable_auto_select %} data-dropdown-unselected{% endif %}>
                        <div class="px-15 pb-30 py-lg-15">
                            {{ select_dropdown_html }}
                        </div>
                    </div>
                </div>
            {%- else -%}
                {% if option_name_down contains "select men's size" %}
                <div class="product-option-color-selected" style="background-image: url(&quot;{{ product.featured_image | img_url: '48x' }}&quot;);"></div>
                {% endif %}  
                <div class="guide-container-product">
                    <label {%if option_name_down contains "size" %}id="product-size-label-{%if option_name_down contains "women" %}women-{% endif %}{{ current_variant_id }}" data-label="{{ option.name }}"{% endif %}>{{ option.name }}</label>
                    <div class="guide-link btn-link h6 mb-5 px-15 px-lg-10 js-popup-button" data-js-popup-button="size-guide">{{ 'products.product.size_guide' | t }}</div>
                </div>
                {%if option_name_down contains "men's size"%}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for men"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Men</label>
                </div>
                {% endif %}
                {%if option_name_down contains "women"%}
                <div class="product-with-men-women-size">
                <label class="option-men-size-page"
                {%- if settings.tooltips_enable and product_option_enable_tooltips %}
                data-js-tooltip
                data-tippy-content="Select below size's for women"
                data-tippy-placement="top"
                data-tippy-distance="6"
                {%- endif -%}
                >Women</label>   
                </div>           
                {% endif %}
                <div class="sizedropbtn for-mobile-only" data-id="{{ current_variant_id }}"><span id="sizedroplabel{% if option_name_down contains "women" %}women{% endif %}-{{ current_variant_id }}" style="pointer-events: none">Select Size</span><i style="pointer-events: none">{% include 'icon-theme-229' %}</i></div>      
                <div class="product-options__section flex-wrap {% if option_name_down contains "size" %}sizedropdown-content product-size-calc page-size-selection-overlay{% endif %}" data-style="text" data-property="{% render 'product-get-options-strip-symbols' with value: option.name %}"{% if disable_auto_select %} data-disable-auto-select{% endif %}>
                    {%- for value in option.values -%}
                        {% include 'product-get-options-res-status' with option_index0: option_index0 %}
                        {% if forloop.first and option_name_down contains "color" %}
                        {% assign default_color = value %}
                        {% endif %}        
                        <div data-id="{{ current_variant_id }}" class="product-options__value {% if option_name_down contains "select men's size" %}men_variants_size_active_{{ current_variant_id }}{% endif %} {% if option_name_down contains "select women's size" %}women_variants_size_active_{{ current_variant_id }}{% endif %} product-options__value--text--page{% if option_name_down contains "select women's size" %}--women{% endif %}{% if option_name_down contains "select men's size" %}--men{% endif %}{% if option_name_down contains "select size" %}--size{% endif %} {% if option_name_down contains "color" %}product-options__value--circle--{{ current_variant_id }}{% endif %}{% if option_name_down contains "size" %}product-options__value--size--{{ current_variant_id }}{% endif %} d-flex flex-center border cursor-pointer{% if disabled_value %} disabled{% endif %}{% if active_value and option_name_down contains "color" %} active{% endif %} lazyload"
                             {% unless option_name_down contains "men's size" %}data-js-option-value{% endunless %}
                             data-value="{% render 'product-get-options-strip-symbols' with value: value %}"
                                {{ trigger_attr }}
                             data-bg="none"
                             data-scale="2"
                        >{{ value | remove: "Size " }}</div>
                    {%- endfor -%}                  
                </div>
            {%- endif -%}
        </div>
    {%- endfor -%}
</div>
{%- endunless -%}
{%- assign change_history = false -%}
{%- assign trigger = null -%}
{%- assign trigger_id = null -%}