{%- case layout -%}
{%- when '1' -%}
    <div class="product-page-main"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-lg-6{% if reverse %} order-lg-1{% endif %}" data-sticky-sidebar-parent>
                <div{% if enable_sticky_gallery %} class="js-sticky-sidebar" data-top-spacing="10" data-disable-moz{% endif %}>
                    <div data-sticky-sidebar-inner>
                        {% include 'product-get-page-gallery' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 product-page-custom-mt">
                {% include 'product-get-page-info' %}
            </div>
        </div>
    </div>
{%- when '2' -%}
    <div class="product-page-main"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-lg-6" data-sticky-sidebar-parent>
                <div{% if enable_sticky_gallery %} class="js-sticky-sidebar" data-top-spacing="10" data-disable-moz{% endif %}>
                    <div data-sticky-sidebar-inner>
                        {% include 'product-get-page-gallery' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                {% include 'product-get-page-info' %}
                {%- if section.settings.show_tabs -%}
                    <div class="product-page__tabs mt-30 mb-40">
                        {% include 'product-get-page-tabs' %}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- when '3' -%}
    <div class="product-page-main"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-lg-6" data-sticky-sidebar-parent>
                <div{% if enable_sticky_gallery %} class="js-sticky-sidebar" data-top-spacing="10" data-disable-moz{% endif %}>
                    <div data-sticky-sidebar-inner>
                        {% include 'product-get-page-gallery' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                {% include 'product-get-page-info' %}
            </div>
        </div>
    </div>
{%- when '4' -%}
    <div class="product-page-main"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-lg-6">
                {% include 'product-get-page-gallery' %}
            </div>
            <div class="col-12 col-lg-6" data-sticky-sidebar-parent>
                <div{% if enable_sticky_gallery %} class="js-sticky-sidebar" data-top-spacing="10" data-disable-moz{% endif %}>
                    <div data-sticky-sidebar-inner>
                        {% include 'product-get-page-info' %}
                        {%- if section.settings.show_tabs -%}
                            <div class="product-page__tabs mt-30 pb-40">
                                {% include 'product-get-page-tabs' %}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- when '5' -%}
    <div class="product-page-main"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        <div class="row">
            <div class="col-12 col-lg-6" data-sticky-sidebar-parent>
                <div{% if enable_sticky_gallery %} class="js-sticky-sidebar" data-top-spacing="10" data-disable-moz{% endif %}>
                    <div data-sticky-sidebar-inner>
                        {% include 'product-get-page-gallery' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6" data-sticky-sidebar-parent>
                <div{% if enable_sticky_gallery %} class="js-sticky-sidebar" data-top-spacing="10" data-disable-moz{% endif %}>
                    <div data-sticky-sidebar-inner>
                        {% include 'product-get-page-info' %}
                        {%- if section.settings.show_tabs -%}
                            <div class="product-page__tabs mt-30 pb-40">
                                {% include 'product-get-page-tabs' %}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- when '6' -%}
    <div class="product-page-main"{% include 'product-get-attributes' %} data-js-product-clone-id="footbar">
        {% include 'product-get-page-gallery' %}
        {% include 'product-get-page-info' %}
    </div>
{%- endcase -%}
{% if enable_sticky_gallery %}
    <script>
        Loader.require({type: "script", name: "plugin_sticky_sidebar"});
        Loader.require({type: "script", name: "sticky_sidebar"});
    </script>
{% endif %}