<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
 <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
{% capture document %}
<head>
  <script>
  var load_script_enabled = true;
  </script>
<meta name="google-site-verification" content="wIQ0YhPoEiikYr0L6eCkPL7rhs2btuW3I8OAwid6Nww" />
<link rel="preload" href="https://cdn.shopify.com/s/files/1/1471/8740/files/23.2Mobile_720x.progressive.jpg?v=1614062913" as="image">
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
<link rel="dns-prefetch" href="//vars.hotjar.com">
<link rel="dns-prefetch" href="//ct.pinterest.com">
<link rel="dns-prefetch" href="//script.hotjar.com">
<link rel="dns-prefetch" href="//s.pinimg.com">
<link rel="dns-prefetch" href="//www.googleadservices.com">
<link rel="dns-prefetch" href="//www.google.com">
<link rel="dns-prefetch" href="//cdn.shopify.com">
<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//d2wy8f7a9ursnm.cloudfront.net">
<link href="https://fonts.googleapis.com" rel="preconnect" crossorigin>
<link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
<link href="https://connect.facebook.net" rel="preconnect" crossorigin>
<link href="https://googleads.g.doubleclick.net" rel="preconnect" crossorigin>
<link href="https://vars.hotjar.com" rel="preconnect" crossorigin>
<link href="https://ct.pinterest.com" rel="preconnect" crossorigin>
<link href="https://script.hotjar.com" rel="preconnect" crossorigin>
<link href="https://s.pinimg.com" rel="preconnect" crossorigin>
<link href="https://www.googleadservices.com" rel="preconnect" crossorigin>
<link href="https://www.google.com" rel="preconnect" crossorigin>
<link href="https://cdn.shopify.com" rel="preconnect" crossorigin>
<link href="https://www.googletagmanager.com" rel="preconnect" crossorigin>
<link href="https://d2wy8f7a9ursnm.cloudfront.net" rel="preconnect" crossorigin>
{% include 'head' %}
{% assign content_for_header = content_for_header | remove: '\/\/shopify.privy.com\/widget.js?shop=rinfit.myshopify.com' | remove: 'https:\/\/manychat.com\/static\/js\/shopify.js?account_id=834139949981234\u0026shop=rinfit.myshopify.com' | remove: 'https:\/\/assets1.adroll.com\/shopify\/latest\/j\/shopify_rolling_bootstrap_v2.js?adroll_adv_id=RO2QD77HNVC23MDKLJATPC\u0026adroll_pix_id=DV6PVRW3KBEAPDIQV3QH7Y\u0026shop=rinfit.myshopify.com' | remove: '\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=rinfit.myshopify.com' | remove: 'https:\/\/intg.snapchat.com\/shopify\/shopify-scevent.js?id=150f3260-d1d6-4f25-bf1c-ec36b2f9df9c\u0026shop=rinfit.myshopify.com' | remove: 'https:\/\/cdn-stamped-io.azureedge.net\/files\/shopify.v2.min.js?shop=rinfit.myshopify.com' | remove: 'https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=Vs6XZR\u0026shop=rinfit.myshopify.com' | remove: 'https:\/\/loox.io\/widget\/VkMww-4oV\/loox.js?shop=rinfit.myshopify.com' | remove: '\/\/cdn.codeblackbelt.com\/js\/modules\/frequently-bought-together\/main.min.js?shop=rinfit.myshopify.com' %}
{{ content_for_header }}
{%- render 'bold-common' -%}
{%- if settings.layout_include_weglot_app -%}
    {% capture weglot_includes %}
    {% include 'weglot_hreftags' %}
    {% include 'weglot_switcher' %}
    {% endcapture %}
  {%- endif -%}
 {% comment %}
 {{ shop.metafields.loox["global_html_head"] }} 
 {% include "manychat-header" %}
 {% endcomment %}  
</head>
<body{% include 'layout-get-body-attributes' %}>
 
{%- if settings.layout_enable_preloader -%}
  {% include 'layout-get-preloader' with is_fixed: true %}
{%- endif -%}
{% section 'global-settings' %}
{% section 'header' %}
<script>
var variant_option_color = 'color';
var variant_option_cart = 'cart';
var variant_option_size = 'size';
var variant_option_sizes = 'sizes';
var variant_option_ring = 'ring';
function changeto(t,e){
if(t === 'color'){
    e.innerHTML = 'SELECT COLOR';
}
if(t === 'size'){
    e.innerHTML = 'SELECT SIZE';
}   
if(t === 'sizes'){
    e.innerHTML = 'SELECT SIZES';
}    
if(t === 'cart'){
    e.innerHTML = 'ADD TO CART';
}    
if(t === 'ring'){
    e.innerHTML = 'ADD RING';
}    
};
</script>
<main id="MainContent">
  {{ content_for_layout }}  
<limespot></limespot>
</main>
{% section 'footer' %}
{% section 'popup' %}
{% section 'footbar' %}
{% include 'fixed-sidebar' %}
{% include 'templates' %}
{% include 'layout-get-includes' %}
{% include 'layout-get-version' %}
{% endcapture %}
{{ document | replace: '   ', ' ' | replace: '  ', ' ' }}
{% comment %}
<!-- start loox body -->
	{{ shop.metafields.loox["global_html_body"] }}
<!-- end loox body -->
{% endcomment %}
<!-- Twitter universal website tag code -->
<script type="text/javascript">
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o4b6y');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
<!-- hotjar script -->
<script>
 
</script>
<script>
if (window.matchMedia("(min-width: 678px").matches) {
  window.onscroll = function() {
    if(window.pageYOffset>500 && load_script_enabled) {
      console.log("%cThis site is maintained and speed page optimized by Make8 Digital Philippines. Feel free to contact us at info@make8.digital","color: blue; font-family: sans-serif; font-size: 28px; font-weight: bolder; text-shadow: #000 1px 1px;"); 
      load_script_enabled = false;
        Loader.main.scripts = ['vendor', 'theme'];
        Loader.require({type: 'script', name: 'tooltip'});
        Loader.require({type: 'script', name: 'plugin_popper'});
        Loader.require({type: 'script', name: 'plugin_tippy'});
        Loader.require({type: 'script', name: 'handlebars'});
        Loader.require({type: "script", name: "privy"});
        Loader.require({type: "script", name: "productreviews"});
       // Loader.require({type: "script", name: "shop_events_listener"});       
        Loader.require({type: "script", name: "fbpixel"});   
      //  Loader.require({type: "script", name: "shopify_pay"}); 
        Loader.require({type: "script", name: "snap_chat"}); 
        Loader.require({type: "script", name: "azureedge"});  
        Loader.require({type: "script", name: "klaviyo"});
        Loader.require({type: "script", name: "loox"}); 
       // Loader.require({type: "script", name: "shopify_pay_load"});         
        Loader.require({type: "script", name: "fbt"});  
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T4RQFM2');
      (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2243255,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    }
  }
} else {
    window.onscroll = function() {
    if(window.pageYOffset>500 && load_script_enabled) {
      console.log("%cThis site is maintained and speed page optimized by Make8 Digital Philippines. Feel free to contact us at info@make8.digital","color: blue; font-family: sans-serif; font-size: 28px; font-weight: bolder; text-shadow: #000 1px 1px;");      
        load_script_enabled = false;
        Loader.require({type: "script", name: "privy"});
        Loader.require({type: "script", name: "productreviews"});
        Loader.require({type: "script", name: "shop_events_listener"});    
        Loader.require({type: "script", name: "shopify_pay"});   
        Loader.require({type: "script", name: "snap_chat"}); 
        Loader.require({type: "script", name: "azureedge"});  
        Loader.require({type: "script", name: "klaviyo"});
        Loader.require({type: "script", name: "loox"}); 
        //Loader.require({type: "script", name: "shopify_pay_load"});  
        Loader.require({type: "script", name: "fbt"});       
        Loader.require({type: 'script', name: 'plugin_popper'});
        Loader.require({type: 'script', name: 'handlebars'});
       // Loader.require({type: 'script', name: 'countries'}); 
       // Loader.require({type: 'script', name: 'shopify_common'});
        Loader.require({type: 'script', name: 'currencies'});
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T4RQFM2');
      (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2243255,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    }
  }
}
</script>
{{ 'speed-optimizer.js' | asset_url | script_tag }}
</body>
</html>

