<footer id="footer" class="footer position-fixed bottom-0 w-100 p-20 text-center text-lg-left">
    <div class="footer__copyright">
        <p class="mb-0">
            {%- if section.settings.enable_custom -%}
                {%- if section.settings.page_content != blank -%}
                    {% include 'content-load-template' content: pages[section.settings.page_content].content %}
                {%- else -%}
                    {% include 'content-load-template' content: section.settings.content %}
                {%- endif -%}
            {%- else -%}
                {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}
            {%- endif -%}
        </p>
    </div>
</footer>


{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "checkbox",
"id": "enable_custom",
"label": "Enable custom",
"default": true
},
{
"type": "page",
"id": "page_content",
"label": "Page content"
},
{
"type": "html",
"id": "content",
"label": "Content"
}
]
}
{% endschema %}


