{% include 'breadcrumbs' %}
<div class="container mb-60">
  <div class="row mt-30">
    <div class="col-12 col-md-5 mb-30">
      <div class="rte">
        {% include 'content-load-template' content: page.content %}
      </div>
      <div class="mt-30">
        {% section 'contact-map' %}
      </div>
    </div>
    <div class="col-12 col-md-7">
      <h2 class="h3">{{ 'contact.form.title' | t }}</h2>
      {% form 'contact' %}
        {%- if form.posted_successfully? -%}
            <p class="form-success">{{ 'contact.form.post_success' | t }}</p>
        {%- endif -%}
        <label for="ContactFormName" class="label-required">{{ 'contact.form.name_title' | t }}</label>
        <input type="text"
               name="contact[name]"
               id="ContactFormName"
               placeholder="{{ 'contact.form.name_placeholder' | t }}"
               value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
               required="required">
        <label for="ContactFormEmail" class="label-required">{{ 'contact.form.email_title' | t }}</label>
        <input type="email"
               name="contact[email]"
               id="ContactFormEmail"
               placeholder="{{ 'contact.form.email_placeholder' | t }}"
               value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off"
               required="required">
        <label for="ContactFormPhone" class="label-required">{{ 'contact.form.phone_title' | t }}</label>
        <input type="tel"
               class="form-control"
               name="contact[phone]"
               id="ContactFormPhone"
               placeholder="{{ 'contact.form.phone_placeholder' | t }}"
               value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
               required="required">
        <label for="ContactFormMessage" class="label-required">{{ 'contact.form.message_title' | t }}</label>
        <textarea rows="8"
                  name="contact[body]"
                  id="ContactFormMessage"
                  placeholder="{{ 'contact.form.message_placeholder' | t }}"
                  required="required">
          {%- if form.body -%}
            {{ form.body }}
          {%- endif -%}
        </textarea>
        {% include 'form-get-message' %}
        <div class="pt-10">
          <button type="submit" class="btn btn--secondary"><i class="mr-5">{% include 'icon-theme-196' %}</i>{{ 'contact.form.send' | t }}</button>
        </div>
      {% endform %}
    </div>
  </div>
</div>
